[maxscale]
threads=4

[server1]
type=server
address=server1
port=3306
protocol=MySQLBackend

[server2]
type=server
address=server2
port=3306
protocol=MySQLBackend

[server3]
type=server
address=server3
port=3306
protocol=MySQLBackend

[Galera_Monitor]
type=monitor
module=galeramon
servers=server1,server2,server3
user=myuser
password=mypwd
monitor_interval=10000
disable_master_failback=1

[qla]
type=filter
module=qlafilter
options=case,extended
filebase=/tmp/SqlQueryLog

[fetch]
type=filter
module=regexfilter
match=fetch
replace=select

[RW]
type=service
router=readwritesplit
servers=server1,server2,server3
user=myuser
password=mypwd
max_slave_connections=100%

[RR]
type=service
router=readconnroute
router_options=synced
servers=server1,server2,server3
user=myuser
password=mypwd


[CLI]
type=service
router=cli

[RWlistener]
type=listener
service=RW
protocol=MySQLClient
address=maxscale
port=3307

[RRlistener]
type=listener
service=RR
protocol=MySQLClient
address=maxscale
port=3308

[CLI-Listener]
type=listener
service=CLI
protocol=maxscaled
address=127.0.0.1
port=6603
