# Globals
[maxscale]
threads=1

# Servers
[server1]
type=server
address=server1
port=3306
protocol=MySQLBackend

[server2]
type=server
address=server2
port=3306
protocol=MySQLBackend

[server3]
type=server
address=server3
port=3306
protocol=MySQLBackend

# Monitoring for the servers
[Galera-Monitor]
type=monitor
module=galeramon
servers=server1,server2,server3
user=myuser
password=mypwd
monitor_interval=1000

# Galera router service
[Galera-Service]
type=service
router=readwritesplit
servers=server1,server2,server3
user=myuser
password=mypwd

# MaxAdmin Service
[MaxAdmin-Service]
type=service
router=cli

# Galera-cluster listener
[Galera Listener]
type=listener
service=Galera-Service
protocol=MySQLClient
port=3306

# MaxAdmin listener
[MaxAdmin-Listener]
type=listener
service=MaxAdmin-Service
protocol=maxscaled
socket=default